.main{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content:center;
  text-align: center;
  left: 16%;
  font-family: 'Montserrat', sans-serif;
}
.container{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 480px;
  left: 14%;
}
.load-pic{
  width: 441px;
  height: 291px;
}